
   #tooltip{
      padding: 20px 80px 20px 30px;
      font-size: 14px;
      width: 375px;
      background: white;
      line-height: 1.7;
   }

   .marker{
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: inline-block;
      display: inline-flex;
      justify-content: center;
      margin-top: 0;
      font-size: inherit;
      cursor: pointer;
      position: relative;
      top: 0.15em;
   }

   .marker path{
      fill: #BCBCBC;
   }

   .marker:hover path{
      fill: #CCB26E;
   }

   .marker:hover .popup{
      opacity: 1;
   }

   .popup{
      position: absolute;
      bottom: calc(100% + 0.7em);
      font-size: 12px;
      box-sizing: unset;
      white-space: nowrap;
      text-align: center;
      padding: 7px 15px;
      background: #666;
      color: white;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.2s ease-out;
   }

   .popup::before, .popup::after{
      content: ''; 
      position: absolute;
      left: calc(50% - 4.5px); 
      bottom: -10px;
      border: 5px solid transparent;
      border-top: 5px solid #666;
   }

   .popup::after {
      border-top: 5px solid #666;
      bottom: -9px; 
   }